# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Git
.git/
.gitignore

# Environment files
.env
.env.*
!.env.example

# Development files
Makefile

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Documentation
*.md
!README.md